


body{margin: 0px;padding: 0px;background-color: rgb(0, 0, 0);}

@font-face{
	font-family: 'title';
	src: url('../font/earthorbiter.ttf');
}
@font-face{
	font-family: 'letters';
	src: url('../font/passion.otf');
}



.cover {margin: 0px;padding: 0px;width:100%;height:100%;}







#c{width: 150px;
    height: 150px;
    background-image: url(../images/clogo.png);
    background-position-x: -52px;
    background-position-y: -50px;
    background-size: 169%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
    transition: width 2s, height 2s, position 2s, transform 2s, display 2s, left 1s,
    background-position-x 2s, background-position-y 2s;
    left: 0px;}

body:hover #c{
    width: 200px;height:200px;position: absolute;transform: rotate(90deg);left: 130px;background-position-x: -74px;
    background-position-y: -68px;
    top: 0px;
}







#dot{width: 30px;
    height: 30px;
    background-color: white;
    display: block;
    border-radius: 30px;
    margin: 0px;
    position: absolute;transition :top 1s, left 1s; 
    left: 150px;
    top: 100px;}

    body:hover #dot{width: 30px;width: 30px;
        top: -57px;
        z-index: 10;
        left: 166px;}

#dotEx{
    height: 30px;
    background-color: white;
    display: block;
    border-radius: 30px;
    margin: 0px;
    position: absolute;opacity: 0;
    width:0px;top: -57px;
    left:166px;
    transition: width 0s, left 5s, opacity 2s;
}
body:hover #dotEx
{
    width: 30px;
        
        z-index: 10;
        left: 250px;opacity:1;
}

    .dotS{width: 0px;
        height: 20px;
        background-color: white;
        display: inline-block;
        border-radius: 20px;
        margin: 0px;
        position: relative;
        top: -12px;}

#one{width: 50px;
    height: 150;
    background-color: white;
    display: block;
    margin: 0px;
    border-radius: 30px;
    transition: width 2s, height 2s, position 2s, display 2s, top 2s, left 2s, margin 2s, border-radius 2s, background-color 2s;
    position: absolute;
    top: 0px;
    left: 200px;
}

    body:hover #one {

        width: 170px;
        height: 70px;
        background-color: crimson;
        display: block;
        margin: 0px;
        border-radius: 60px;
        position: absolute;
        left: 138px;
    top: -77px;
    }


#i{width: 100px;
    height: 150px;
    background-color: white;
    display: inline-block;
    margin: 10px;}

/* ..... added font and font releated property in id #et #s #t..
  adjusted top positions of thes ids .........
  added transitions for font size in these ids..........
  added font-size:0 in the hover property of these ids.........(hover property are just below their respective ids.....
  )...
  also removed BG colour and added color in these ids........ */   

#et{width: 100px;
    height: 150px;
    
    display: block;
    transition: width 2s, height 2s, position 2s, display 2s, top 2s, left 2s, margin 2s, background-color 2s, font-size 1s;
    position: absolute;
    top: -40px;
    left: 260px;
    font-family: letters;
    font-size: 220px;
    color:#52da46;
}


body:hover #et{
    width: 139px;
    height: 45px;
    background-color: #ff3187;
    display: block;
    margin: 0px;
    position: absolute;
    top: 135px;
    left: 160px;
    font-size:0px;
}    
    
#i1{width: 50px;
    height: 150px;
    background-color: #900101;
    display: block;
    border-radius: 30px;
    transition: width 2s, height 2s, position 2s, display 2s, top 2s, left 2s, margin 2s, background-color 2s;
    position: absolute;
    top: 170px;
    left: 0px;}


body:hover #i1
{
    width: 50px;
    height: 135px;
    background-color: #4970ff;
    display: block;
    border-radius: 40px;
    position: absolute;
    top: 130px;
    left: 150px;

}    

#i2{width: 50px;
    height: 150px;
    background-color: white;
    display: block;
    border-radius: 30px;
    transition: width 2s, height 3s, position 2s, display 2s, top 1s, left 2s, margin 3s, background-color 2s;
    position: absolute;
    top: 170px;
    left: 70px;
}

    body:hover #i2
    {
        width: 50px;
    height: 135px;
    background-color: #4970ff;
    display: block;
    border-radius: 40px;
    position: absolute;
    top: 130px;
    left: 265px;
    }    


#s{width: 100px;
    height: 150px;
    
    display: block;
    transition: width 1s, height 1s, position 3s, display 3s, top 3s, left 3s, background-color 3s, transform 3s
    , border-radius 2s, font-size 1s;
    position: absolute;
    border-radius: 0px;
    top: 130px;
    left: 140px;
    font-family: letters;
    font-size: 220px;
    color: darkcyan;
    /*background-image: url(s.png);*/
    background-size: 50%;
}

body:hover #s{

    width: 90px;
    height: 50px;
    background-color: white;
    display: block;
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 0px;
    border-radius: 25px;transform: rotate(-25deg);
}


#t{width: 100px;
    height: 150px;
    
    display: block;
    transition: width 2s, height 2s, position 2s, display 2s, font-size 4s, top 2s, left 3s, background-color 2s, border-radius 2s, transform 4s;
    position: absolute;
    top: 130px;border-radius: 0px;
    left: 260px;
    font-family: letters;
    font-size: 220px;
    color:#ffd729;
}

body:hover #t{

    width: 90px;
    height: 50px;
    background-color: white;
    display: block;
    position: absolute;
    font-size: 0px;
    transform: rotate(-25deg);
    top: 0px;
    left: 320px;
    border-radius: 25px;
}
#line{
        position:absolute;
        top:26%;
        left:37%;
    }

    @media screen and (max-device-width:720px)
    {
       
       #line{
        top:33%;
        left:29%;
     }
    
    } 
 
 
    #lin1{
        position:absolute;
        top:26%;
        left:37%;
    }

    @media screen and (max-device-width:720px)  
    {
       
       #lin{
        top:33%;
        left:29%;
     }
    
    } 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
    @media only screen and (orientation:portrait)
    {
       
       body{}
    
    } 
    
  
 
#logo1 {

    position: absolute;
    width: 150px;
    /* height: 150; */
    top: 0px;transition: opacity 2s;
}   

body:hover #logo1{opacity: 0;}

#logo2{

    position: absolute;
    width: 130px;
    /* height: 150; */
    top: 29px;
    left: 165px;opacity: 0;transition: opacity 2s;transition-delay: 1s;
}

body:hover #logo2{

    opacity: 1;
}

#contents{

    display: block;
    width: 0px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0);
    top: 328px;
    left: 0px;
    position: absolute;
    font-family: 'title';
    font-size: 39.5px;
    color: white;
  transition: font-size 2s, color 2.5s;
}



body:hover #contents{
    font-size:0px;color: black;
}


#back{

    display: block;
    width: 12px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0);
    top: 2%;
    right: 150px;
    position: absolute;
    font-family: 'title';
    font-size: 38px;
    color: white;
}


/*changed its top position of id unknown ..*/

#unknown{
    
    display: block;
    height: 100px;
    background-color: black;
    top: 328px;
    left: 0px;
    position: absolute;
    font-family: 'title';
    font-size: 0px;
    color: rgb(0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    transition: font-size 3s, color 2.5s;
}

body:hover #unknown{
    font-size:20px;color: aqua;
}
/*changed its top position of id stay ..*/
#stay{
    
    display: block;
    width: 100%;
    background-color: black;
    bottom: 15vh;
    position: fixed;
    font-family: 'title';
    font-size: 0px;
    left:4%;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: font-size 2s, color 2s;
   }
body:hover #stay{

    font-size:5vh;color:skyblue;
}

@media screem and (max-device-width:900px)
{
    #stay{
      left:0%;
    }
}