

.contain{
    top:70pxs;
    left:0%;
    width: 100%;
    height: 120%;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    
    position: absolute;
    padding: 20px;
  
    
}
.heading{
    position: relative;
    top:20px;
    font-family: 'icon1';
    color: skyblue;
    font-size: 30px;
    padding: 10px;
    word-spacing: 2px;
}
#name
{
font-family: 'icon4';
color: white;
font-size: 25px;
padding: 20px;

}

.details{
  padding: 10px;
}
 .li1{
    font-family: 'icon1';
    font-size: 20px;
    color: skyblue;
    list-style-type: none;
}

.local
{
font-family: 'icon1';
color: white;
list-style-type: none;
font-size: 16px;
padding:10px;
}
.details p{
    font-family: 'icon2';
    font-size:20px;
    color: white;
    padding-left:100px;
    padding-top: 2px;   
}
#events{
    cursor: pointer;
   }

#events:hover{
    color: white;
}
@media screen and (max-width:900px) {
    
    .heading
    {   
        padding:10px;
        word-spacing:20px;
        font-size:25px;
    }
}

.dropbtn {
    background-color:black;
    color:skyblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'icon1';
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width:250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:skyblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'icon1';
}

.dropdown-content a:hover {background-color:black;
color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:black;
}