@font-face{
	font-family: 'content';
	src: url('fonts/raw.ttf');
}

@font-face{
	font-family: 'heading';
	src: url('fonts/earthorbiter.ttf');
}

@font-face{
	font-family: 'content';
	src: url('fonts/adequate.ttf');
}


.details{

    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    
    background-repeat: no-repeat;
    width: 0%;
    /* block-size: 105%; */
    background-size: 56%;
    background-color: black;
    height: 0%;
    z-index: -1000;
    opacity: 0;
    transition: opacity 1s, display 2s, height 1s, width 1.5s;
    display: block;
    background-position-x: 100%;
    background-position-y: 100%;
}
.title{
    margin-top: 10px;
    font-family: 'heading';
    color: skyblue;
    font-size:2vh;
}
#content{
font-size:2vh;
margin-top: 3px;
letter-spacing:2px;
padding: 2px;
}
.listall
{
    padding: 2vh;
}

.displayArea{width: 70%;
    position: absolute;
    left: 13%;
    background-color: black;
    opacity:0;
    top: 25%;
    /* border: 10px; */
    padding-left: 5px;
    border-color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-right: 5px;
    transition: opacity 3s;
}
#buttonToClose{

    display: block;
    position: absolute;
    top: -10%;
    left: 100%;
    background-color: #ff0060;
    border: 0px;
    width:4.5vh;
    height:4.5vh;
    font-size:2.5vh;
    font-family: 'heading';
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    transition: border-top-right-radius 1s, border-bottom-right-radius 1s;
}
#buttonToClose:hover {
  border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
    
