@media screen and (orientation:portrait)
    { 


       
       .displayArea {width: 95%;
        position: fixed;
        left: 1%;
        background-color: black;
        opacity: 0;
        top: 19%;
        /* border: 10px; */
        padding-left: 5px;
        border-color: white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding-right: 5px;
        transition: opacity 3s; }

        #buttonToClose{display: block;
            position: absolute;
            top: 0%;
            left: 86%;
            background-color: #ff0060;
            border: 0px;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            /* border-top-right-radius: 24px; */
            /* border-bottom-right-radius: 24px; */
            transition: border-top-right-radius 1s, border-bottom-right-radius 1s;}
        #content {font-size: 29px;}    
                     
    }    