
    @media screen and (orientation:landscape)
    {
        
        #portrait {display:none;}


    }  
    
    
    @media screen and (orientation:portrait)
    {
        
        #portrait{display: block;
            width:100%;
            height:auto;position: absolute;top:0px;left: 0px;
            z-index:1000;
            background-color: black;
            padding-top: 100px;
          
        }
        
            #loadingWork1 {
                display: block;
                position: absolute;
                left: 0%;
                top: 0%;
                width: 100%;
                height: 100%;
                margin:0px;
                border: 3px solid transparent;
                border-top-color: azure;
                border-radius: 50%;
                animation: spin 2s linear infinite;
                -webkit-animation: spin 2s linear infinite;
            }
            #loadingWork1:before{
                content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            border: 3px solid transparent;
            border-top-color: aqua;
            border-radius: 50%;
            animation: spin 1.5s linear infinite;
            -webkit-animation: spin 1.5s linear infinite;
            }
            #loadingWork1:after{content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                bottom: 10px;
                right: 10px;
                border: 3px solid transparent;
                border-top-color: chocolate;
                border-radius: 50%;
                animation: spin 3s linear infinite;
                -webkit-animation: spin 1s linear infinite;}
     
                #loadingWork2 {
                    display: block;
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 100%;
                    height: 100%;
                    margin:0px;
                    border: 3px solid transparent;
                    border-top-color: rgb(72, 131, 131);
                    border-radius: 50%;
                    animation: spin 3s linear infinite;
                    -webkit-animation: spin 3s linear infinite;
                }
                #loadingWork2:before{
                    content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                bottom: 5px;
                right: 5px;
                border: 3px solid transparent;
                border-top-color: rgb(255, 0, 212);
                border-radius: 50%;
                animation: spin 1s linear infinite;
                -webkit-animation: spin 1s linear infinite;
                }
                #loadingWork2:after{content: "";
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    bottom: 10px;
                    right: 10px;
                    border: 3px solid transparent;
                    border-top-color: rgb(0, 170, 28);
                    border-radius: 50%;
                    animation: spin 2s linear infinite;
                    -webkit-animation: spin 2s linear infinite;}  
                    
                    
                    #loadingWork3 {
                        display: block;
                        position: absolute;
                        left: 0%;
                        top: 0%;
                        width: 100%;
                        height: 100%;
                        margin:0px;
                        border: 3px solid transparent;
                        border-top-color: rgb(168, 0, 28);
                        border-radius: 50%;
                        animation: spin 2s linear infinite;
                        -webkit-animation: spin 2s linear infinite;
                    }
                    #loadingWork3:before{
                        content: "";
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    border: 3px solid transparent;
                    border-top-color: rgb(255, 255, 255);
                    border-radius: 50%;
                    animation: spin 1s linear infinite;
                    -webkit-animation: spin 1.5s linear infinite;
                    }
                    #loadingWork3:after{content: "";
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        bottom: 10px;
                        right: 10px;
                        border: 3px solid transparent;
                        border-top-color: rgb(89, 180, 255);
                        border-radius: 50%;
                        animation: spin 3s linear infinite;
                        -webkit-animation: spin 3s linear infinite;}
  
                     #loadingWork4 {
                            display: block;
                            position: absolute;
                            left: 0%;
                            top: 0%;
                            width: 100%;
                            height: 100%;
                            margin:0px;
                            border: 3px solid transparent;
                            border-top-color: cyan;
                            border-radius: 50%;
                            animation: spin 2s linear infinite;
                            -webkit-animation: spin 2s linear infinite;
                        }
                        #loadingWork4:before{
                            content: "";
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        bottom: 5px;
                        right: 5px;
                        border: 3px solid transparent;
                        border-top-color: coral;
                        border-radius: 50%;
                        animation: spin 1s linear infinite;
                        -webkit-animation: spin 1.5s linear infinite;
                        }
                        #loadingWork4:after{content: "";
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            bottom: 10px;
                            right: 10px;
                            border: 3px solid transparent;
                            border-top-color: rgb(68, 0, 255);
                            border-radius: 50%;
                            animation: spin 3s linear infinite;
                            -webkit-animation: spin 3s linear infinite;}
      
    
    



                @keyframes spin{
                    0%{
                      -webkit-transform:rotate(0deg);
                      -ms-transform: rotate(0deg); 
                       transform: rotate(0deg);
                    }
                    100%{
                      -webkit-transform:rotate(360deg);
                      -ms-transform: rotate(360deg);
                       transform: rotate(360deg);
                    }
                  }
                  
                  .sqcard{
            width: 450px;
            height: 450px;
            display: inline-block;
            position: relative;
            top: 7%;
            left: 28%;
            background-repeat: no-repeat;
            background-size: 105%;
            background-position: center;
            border-radius: 100%;
                  }
                 .menuPortrait{
                    width: 99%;
                    height: 70px;
                    margin-bottom: 0px;
                    margin-top: 0px;
                 }
        
                 
                 .buttonPort{
                    width: 33%;
                    left: 0;
                    height: 100%;
                    background-color: #000000;
                    border-radius: 0px;
                    /* border: 0px; */
                    color: white;
                    font-family: 'heading';
                    font-size: 36px;
                    border-bottom-width: 2px;
                    border-top: 0px;
                    border-left-width: 0px;
                    border-bottom-right-radius: 50px;
                 }
                 
                 .link
{
text-decoration: none;
color: skyblue;
font-size: 1.5vh;

}

/* #container {display:none;} */
#landscape{display:none;}
    }   


   