body {margin:0px;padding:0px;background-color: black;}

@font-face{
	font-family: 'content';
	src: url('adequate.ttf');
}

@font-face{
	font-family: 'icon1';
	src: url('../font/earthorbiter.ttf');
}

@font-face{
	font-family: 'heading';
	src: url('fonts/earthorbiter.ttf');
}

@font-face{
	font-family: 'icon2';
	src: url('../font/RawengulkSans.ttf');
}

@font-face{
	font-family: 'icon3';
	src: url('../font/Lora-Bold.ttf');
}


    
@media screen and (orientation:landscape)
    {   








#item1{position: absolute;
    display: inline-block;
    top: 61px;
    left: 0px;
    width: 50%;
    /* height: 100%; */
    height:50%;
    background-image: url(images/harley-black.png);
    background-position-x: 48%;
    background-position-y: 5%;
    background-size: 38%;
    background-repeat: no-repeat;
    background-color: #a0361e;
    overflow: hidden;
}



    #item2 {
        
        display: inline-block;
        
        position: absolute;
        top: 61px;
        right: 0px;
        width: 50%;
        height: 50%;
        background-color: rgb(0, 128, 87);
        background-image: url(images/drone-black.png);
        background-size: 34%;
        background-repeat: no-repeat;
        background-position-x: 47%;
        background-position-y: 45%;
    }

    
    #item3 {
        display: inline-block;

        position: absolute;
        top: 52%;
        width: 50%;
        height: 50%;
        background-color:white ;
        background-image: url(images/hacker.png);
        background-size: 34%;
        background-repeat: no-repeat;
        background-position-x: 47%;
        background-position-y: 20%;
    }
    #item4 {
        display: inline-block;

        position: absolute;
        top: 52%;
        right: 0%;
        width: 50%;
        height: 50%;
        background-color: rgb(46, 43, 71);
        background-image: url(images/model-rocket1.png);
        background-size: 34%;
        background-repeat: no-repeat;
        background-position-x: 47%;
        background-position-y: 20%;
    }

    
#harley{
    position: fixed;
    top: 61px;
    left: 0px;
    width: 0px;
    opacity: 0;
    /* height: 100%; */
    height: 92%;
    background-image: url(images/harley-full.jpg);
    background-position-x: -52px;
    background-position-y: 41px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: black;
    z-index: 1000;
    background-position-x: 131%;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    transition: width 2s, opacity 2s;
}

#drone{
    position: fixed;
    top: 61px;
    left: 0px;
    width: 0px;
    opacity:0;
    /* height: 100%; */
    height: 92%;
    background-image: url(images/drone-full.jpeg);
    background-position-x: -52px;
    background-position-y: 41px;
    background-size: 64%;
    background-repeat: no-repeat;
    background-color: #131313;
    z-index: 1000;
    background-position-x: 0%;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    transition: width 2s, opacity 2s;
}
#hacker{
    position: fixed;
    top: 61px;
    left: 0px;
    width: 0px;
    opacity: 0;
    /* height: 100%; */
    height: 92%;
    background-image: url(images/anonym.jpg);
    background-position-x: -52px;
    background-position-y: 75px;
    background-size: 81%;
    background-repeat: no-repeat;
    background-color: #131313;
    z-index: 1000;
    background-position-x: 100%;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    transition: width 2s, opacity 2s;
}
#rocket{
    position: fixed;
    top: 61px;
    left: 0px;
    width: 0px;
    opacity: 0;
    /* height: 100%; */
    height: 92%;
    background-image: url(images/anonym.jpg);
    background-position-x: -52px;
    background-position-y: 75px;
    background-size: 81%;
    background-repeat: no-repeat;
    background-color: #131313;
    z-index: 1000;
    background-position-x: 100%;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    transition: width 2s, opacity 2s;
}

.intro{
    position: absolute;
    top:75%;
    color:black;
    font-family: 'heading';
    width:70%;
    font-size:2.5vh;
    left:20%;
}
#item3 .intro
{

left:0px;
margin-left:36%;
}

#item2 .intro{
        margin-left:5%;
}
#item4 .intro{
    margin-left:18%;

}
p {
    color: white;font-family:content;
}

#harleyCover{
    position: absolute;
    display: block;
    font-family: content;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: black;
    opacity: 0.85;
    margin-top:20px;
    transition: top 1.5s;
    font-size: 90%;
    font-weight: lighter;
    color:white;
}
.centerall{
    padding-top: 1vh;
    text-align: center;
    padding-left:2vh;
    padding-right:2vh;
}
#harleyCover p
{
padding: 3px;
letter-spacing: 2px;
font-family: 'icon2';
font-size:2vh;
}
#harleyCover a
{
    font-family: 'heading';
    font-size:3Vh;
    text-decoration: none;
    
    color: skyblue;
}



#item1:hover #harleyCover {top:0%;
margin-top:0px;}

#droneCover{

    position: absolute;
    display: block;
    font-family: content;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: black;
    opacity: 0.85;
    margin: 0px;
    transition: top 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color:white;
}
#droneCover p
{
padding: 3px;
letter-spacing: 2px;
font-family: 'icon2';
font-size: 2vh;
}

#droneCover a{
font-family: 'heading';
font-size:3Vh;
text-decoration: none;

color: skyblue;
}

#item2:hover #droneCover {top:0%;}


#hackerCover{
    
    position: relative;
    display: block;
    font-family: content;
    width: 100%;
    height: 0%;
    top:-4%;
    background-color: black;
    opacity:0.8;
    margin: 0px;
    transition: height 1.5s, opacity 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color: white;
    z-index: 1000;
    opacity: 0;
}
.link
{
text-decoration: none;
color: skyblue;
font-size: 2vh;

}
#hackerCover p
{
padding: 3px;
letter-spacing: 2px;
font-family: 'icon2';
font-size: 2.5vh;
}

#hackerCover a{
font-family: 'heading';
font-size:3Vh;
text-decoration: none;

color: skyblue;
}

#item3:hover #hackerCover {height:100%;opacity:1;}


#RocketCover{
    position:relative;
    display: block;
    font-family: content;
    width: 100%;
    height: 0%;
    top: -4%;
    background-color: black;
    opacity:0.85;
    margin: 0px;
    transition: height 1.5s, opacity 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color: white;
    z-index: 1000;
    opacity: 0;
}
#RocketCover p
{
padding: 3px;
letter-spacing: 2px;
font-family: 'icon2';
font-size:2.5vh;
}

#RocketCover a{
font-family: 'heading';
font-size:3Vh;
text-decoration: none;

color: skyblue;
}

#item4:hover #RocketCover {height:100%;opacity: 0.85;}



























/* #conCover{

    position: relative;
    display: block;
    font-family: content;
    width: 100%;
    height: 0%;
    top: 0%;
    background-color: black;
    opacity: 1;
    margin: 0px;
    transition: height 1.5s, opacity 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color: white;
    z-index: 1000;
    opacity: 0;
}

#item4:hover #conCover {height:100%;opacity:1;} */

#buttonToEnter {position: relative;
    top: 22%;
    left: 17%;
    margin: 10px;
    display: inline-block;
    width: 21%;
    height: 21%;
    background-color: #07abab;
    /* border-radius: 50%; */
    background-image: url(ok.png);
    border: 0px;
    font-family: 'heading';
    font-size:2vh;
    border-radius: 15px;}


    .menu{
        display: inline-block;
    width: 14%;
    height: 79px;
    left: 20%;
    /* top: -5%; */
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: deepskyblue;
    top: 0%;
    }
    #menubar{

        display: block;
    /* position: absolute; */
    right: 0;
    position: relative;
    top: 9%;
    }
    .display{ffloat: left;
        width: 56.8%;
        height: 53%;
        background-color: #640700;
        opacity: 1;
        display: block;
        transition: width 0.6s, opacity 0.5s;
        position: absolute;
        left: 20%;
        top: 21%;
    }

    #close{position: absolute;
        z-index: 100;
        width: 30px;
        height: 30px;
        top: 10%;
        /* left: 0px; */
        right: 0px;
        background-color: bisque;}

    }