@font-face{
	font-family: 'icon1';
	src: url('../font/earthorbiter.ttf');
}

@font-face{
	font-family: 'icon2';
	src: url('../font/RawengulkSans.ttf');
}

@font-face{
	font-family: 'icon3';
	src: url('../font/Lora-Bold.ttf');
}
@font-face{
	font-family: 'icon4';
	src: url('../font/zekton.ttf');
}



.campuscontainer{
  margin-top:40px;
   width: 85%;

    top:7%;
position: absolute;
    padding-left: 30px;    
   }

.contentcenter{
width: 95%;
position:absolute;
border-left: 2px solid white;    
border-right: 2px solid white;        

padding:50px;
text-align: center;       
}

#campuslogo
{
width:150px;
height:150px;
float: left;
border-right:2px solid white; 
}
#content h1
{
 padding: 10px;   
font-family: 'icon1';
color:skyblue;
float: left;
font-size:4vh;
}
#content h1:hover{
color: white;
border-bottom: 2px solid skyblue;
}

@media screen and (max-width:900px)
{
    #campuslogo{
   border-right: none;
   left:25%;
 }
    #content p
    {
        border-left: 2px solid white;
        border-right: 2px solid white;
    
        font-size: 2vh;
float: left;
}
#content h1{
    display: None;

}
#content h1:hover{
    border-bottom: none;
    color: skyblue;
 }
#content h2
{
margin-top: 16px;
text-align: center;
margin-bottom: 10px;
}
.textca{
    border-left: 2px solid white;
    border-right: 2px solid white; 
}
#butca{
   
    
    width:auto;
    padding: 10px;
    height:auto;
    font-size: 18px;
    border: 2px solid white;
    cursor: pointer;
}


}

#content p
{
color: white;
font-family: 'icon4';
font-size:3vh;
}
#content h2
{
color:skyblue;
font-family: 'icon1';
font-size:20px;
float: left;
padding:5px;
}
.textca{
    color: white;
    font-family: 'icon4';
    font-size:2.5vh;
    float:left;
 }


 .ordered{
  
  padding: 20px;
    float: left;
     position:relative;
    
 }
 

 .ordered li{
    font-family: 'icon1';
    font-size:18px;
    color: skyblue;
    float: left; 
}


 
 
 .unordered{
     padding: 20px;
    float: left;
    position:relative;
   
}


.unordered li{
   font-family: 'icon4';
   font-size:15px;
   color:white;
float: left;
padding:5px;
}

#butca{

    width: 200px;
    height: 40px;
    background: black;
    font-family: 'icon1';
    color: skyblue;
    font-size: 18px;
    border: 2px solid white;
    cursor: pointer;
   

}
#butca:hover{
    border: 2px solid skyblue;
    color: white;
}
