@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: 'Sansation';
	src: url('../font/earthorbiter.ttf');
}
@font-face{
	font-family: 'noodle';
	src: url('../font/RawengulkSans.tff');
}
*{
	margin: 0;
}
.container{
	background-color: black;
	padding: 10vh 10vw;
	font-family: 'noodle';
	color: azure;
}	

h2{
	margin: 50px 0 10px;
	font-family:'Sansation';
	color:skyblue;
	text-decoration-line:2px ; 
  
}

h2:hover{
	cursor: pointer;
    }
h3{
	margin: 30px 0 10px;
	font-family: 'Sansation';
	color:skyblue;

}

li{
    padding-left: 50px;
	margin: 10px 0;
    list-style: none;
}
#intro{
    font-size: 20px;
}