

input:focus{
  outline: none;
}



#load_screen
{
position: fixed;
top:0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
background: black;
}
#loading
{
display: block;
position: absolute;
left:45%;
top: 50%;
width: 200px;
height: 200px;
margin: -75px 0 0 -75px;
border: 3px solid transparent;
border-top-color: azure;
border-radius: 50%;
animation:spin 2s linear infinite;
-webkit-animation:spin 2s linear infinite;
}

#loading:before
{
content:"";
position: absolute;
top: 5px;
left: 5px;
bottom:5px;
right: 5px;
border: 3px solid transparent;
border-top-color: aqua;
border-radius: 50%;
animation:spin 1.5s linear infinite;
-webkit-animation:spin 1.5s linear infinite;
}

#loading:after
{
content: "";
position: absolute;
top:10px;
left: 10px;
bottom:10px;
right: 10px;
border: 3px solid transparent;
border-top-color: chocolate;
border-radius: 50%;
animation:spin 3s linear infinite;
-webkit-animation:spin 3s linear infinite;
}
@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
    -ms-transform: rotate(0deg); 
     transform: rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    -ms-transform: rotate(360deg);
     transform: rotate(360deg);
  }
}

@keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
    -ms-transform: rotate(0deg); 
     transform: rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    -ms-transform: rotate(360deg);
     transform: rotate(360deg);
  }
}


/*test  */


 /* -------------------------------------------------------------------------------     */
@font-face{
	font-family: 'icon1';
	src: url('../font/earthorbiter.ttf');
}

@font-face{
	font-family: 'icon2';
	src: url('../font/RawengulkSans.ttf');
}

@font-face{
	font-family: 'icon3';
	src: url('../font/Lora-Bold.ttf');
}



  .topnav {
    overflow: hidden;
    background-color: black;
 
  }
  
  .topnav a {
    float:left;
    display: block;
    color: beige;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
    font-family:'icon1';
  }
  
  .topnav a.n:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    
  }
  .topnav a#icon:hover {
    background-color:black;
    color:silver;
    cursor: pointer;
    
  }


  .topnav a#logo:hover {
    background-color: transparent;
    color: black;

  }
  
  .active .n{
  border-bottom: 2px solid azure;
 }
 @media screen and (max-device-width:1200px)
{
  .active .n{
  border-bottom: 2px solid transparent;
  }
}
#logo
{
width: 65px;
height: 65px;
}

 
.topnav #icon {
    display:none;
  }
  
  @media screen and (max-device-width:1200px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a#icon {
      position: absolute;
      right:0vw;
      display: block;
      
    }
  }
  
  @media screen and (max-device-width:1200px) {
    .topnav.responsive {
      width: 100vw;
      position: fixed;
      z-index: 1;
    }
    .topnav.responsive #icon {
      position:fixed;
      right: 0;
      top: 0;
      opacity:1;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align:left;
      font-size:medium;

    }
  
  }
/* topnav ends here */


  #conspic
  {
    display: block;
    position:fixed;
    left:46.5%;
    top: 53.5%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
  }
  

footer
  {
  position:fixed;
  left:0vh;
  bottom:0;
  width:100vh;
  background: transparent;
  }

  .foot
{
  overflow: hidden;
  background:transparent;
}

.foot a{
  float: left;
  display: block;
  color:skyblue;
  padding: 1vh 2vh;
  text-decoration:none;
  font-size:2vh;
  font-family:'icon1';
  border-bottom: 2px solid transparent;
  background-color: transparent;
cursor: pointer;
}

.foot a:hover {
  background-color:transparent;
  color: silver;
  border-bottom: 2px solid azure;

}
@media screen and (max-width:900px) {

footer .foot a{
    display:block;
    position: relative;
    text-align: center;

}
} 



  /* for notification design */
 
  .notification
  {
    position: fixed;
    top:12%;
    left:80%;
    background:black;
    cursor: pointer;
  }
  #notf{
    font-family: 'icon1';
    font-size: 16px;
    color: cadetblue;
    animation: fadein 1s linear infinite;
  }

 @keyframes fadein{
   from{
     opacity: 0;
   }
   to
   {
   opacity: 1;
   }
 }

 .notification a:hover {
  background-color: transparent;
  color: blueviolet;
}

@media screen and (max-device-width:700px)
{
  .notification
  {
 top:15%;
 left:55%;   
  }
}



 /* No notification in Mobile device*/

/* Design of notification ends here! */

/* regstration page styling begins */
.register {
  position:center;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}



.register .registertext{
  visibility: hidden;
  height:auto;
  width:auto;
  color: azure;
  background: rgba(0,0,0,0.9);
  text-align:center;
  border:3px solid;
  border-radius:3px;
  padding: 8px 0;
  position: fixed;
  font-family:'icon1';
  top:50px;
  left:0px;
  margin-top:100px;
  margin-left:450px;
  font-size:14px;
}
@media screen and (max-width:700px)
{
.register .registertext
{
margin-left:20px;
margin-top:0px;
top: 20%;
width:300px;
height: auto;
text-align: center;
}
}

@media screen and (max-width:700px)
{

  .register .registertext#regt
{
float: left;
visibility: visible;

}
}




.register .registertext p{
  font-family:'icon1';
  font-size: 14px;
  color: skyblue;
  text-align: left;
  margin-left: 30px;
}
 .register input{
   width:60%;
   margin-bottom: 20px;
 }

 .register input[type="text"],input[type="password"]
 {
border:none;
border-bottom: 1px solid #fff;
background: transparent;
outline:none;
height: 40px;
color: #fff;
font-size: 12px;
 }
 .register input[type="submit"]
{
border: none; 
outline: none;
height:10%;
background: azure;
 width:20%; 

}

.register input[type="submit"]:hover
{
  cursor: pointer;
  background:azure;
  color: black;
  }


.register .registertext #regt{
  text-decoration: none;
  font-size: 12px;
  line-height:20px;
  color:skyblue;
  }

.register .registertext #regt:hover{
  color:azure;
  border-bottom:1px solid azure;

}





.register .registertext::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 0px;
  border-style: solid;
  border-color:azure transparent transparent transparent;
}


@media screen and (max-width:700px)
 {.register .registertext
  {
   position: fixed;
   margin-right: 3px; 
  margin-top: 10px;
  background-attachment: scroll;
  }
}

.register .show1 {
  visibility: visible;
    
}
/* registration page styling ends here  */

/* events page styling begins here */
/*  Copy from here */

.why_us{
  top:20%; 
  left:45%;
position: fixed;
 
}
 
@media screen and (max-device-width:900px)
{
  .why_us{
      top:20%;
  left: 38%;

  }
}

 .why_content{
  position:absolute;
  background:no-repeat;
  width:200px;
  height:200px;

}
 
 .why_content_s{
  position:absolute;
  background:no-repeat;
  width:100px;
  height:100px;
  opacity:1;
 }
 
  .why_us .why_1{top:55px;left:-160px;} /*Aparimit*/
  .why_us .why_2{top:265px;left:-160px;} /*Bot*/
  .why_us .why_3{top:150px;left:0;} /*Conscientia*/
  .why_us .why_4{top:55px;left:160px;} /*Philosophae*/
  .why_us .why_5{top:-50px;left:0px;} /*Cyberia*/
  .why_us .why_6{top:265px;left:160px;} /*Paripath*/
  .why_us .why_7{top:370px;left:0px;} /*Kaleidoscope*/
  .why_us .why_8{top:160px;left:320px;} /*Mecamorphosis*/
  .why_us .why_9{top:160px;left:-320px;} /*Vihang*/
  
  .why_us .why_1_s{top:100px;left:-80px;} /*Aparimit*/
  .why_us .why_2_s{top:210px;left:-80px;} /*Bot*/
  .why_us .why_3_s{top:150px;left:0;} /*Conscientia*/
  .why_us .why_4_s{top:100px;left:80px;} /*Philosophae*/
  .why_us .why_5_s{top:50px;left:0px;} /*Cyberia*/
  .why_us .why_6_s{top:210px;left:80px;} /*Paripath*/
  .why_us .why_7_s{top:260px;left:0px;} /*Kaleidoscope*/
  .why_us .why_8_s{top:155px;left:160px;} /*Mecamorphosis*/
  .why_us .why_9_s{top:155px;left:-160px;} /*Vihang*/

/*hover*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 80%;
  left: 25%;
  top: 10%;

  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FAF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}  



/* Events updated */
.list
{
font-family: 'icon2';
color: black;
background-color: white;
text-align: left;
padding: 2px;
margin-top:50px;
}

.list li
{
font-family: 'icon3';
font-size: 16px;
color: black;
}
.Ab
{
	font-family: 'icon3';
	font-size: 16px;
	color: black;
}

.Ab1{
  padding:10px;
font-family: 'icon1';
font-size: 25px;
color: black;
}

.titleeve
{
  font-family: 'icon1';
  color:white;
  font-size:10vh;

}
.titleeve1
{
  font-family: 'icon1';
  color:white;
  font-size:10vh;

}

@media screen and (max-device-width:900px)
{
  .titleeve1{
    font-size: 5vh;
  }
}

/*  Ends here */
/* events page styling ends here*/


/* events page styling ends here*/
/* logo center main page */
#gif
{
text-align: center;
position:absolute;
top:25%;
}

 .gif1
{
width:100%;

}
@media screen and (max-device-width:900px)
{
  #gif{
    display: none;
  }
  
}

.moblogo
{
display:none;
}

@media screen and (max-device-width:900px)
{
  .moblogo{
  width: 100vw;
  display:block;
  text-align: center;
  background-color: transparent;
  position: absolute;

  }
  .moblogo #moblogo
  {
   width:50%;
   height:70%;
  }
}

.opac
{
opacity: 0;
}

.opac1
{
opacity: 0.4;
}

/* logo ends here */

/* login page */
#about
{
font-family: 'icon3';
font-size:16px;
color:rgba(0,0,0,0.7);
}

.about
{
font-family: 'icon3';
font-size:16px;
color:rgba(0,0,0,0.7);
}

#Log
{
font-family: 'icon1';
font-size:35px;
color:azure;
border-bottom: 1px solid skyblue;


}

#user
{
font-family: 'icon1';
font-size:20px;
width: 100%;
color: skyblue;
margin-top: 20px;

}

#user1
{
font-family: 'icon1';
font-size:15px;
width: 100%;
color: skyblue;

margin-top: 10px;

}
#user1:hover{
  color:azure;
}


#close{
 font-family:'icon1';

}

/* login ends here */

/* sign up starts here */

.background1
{
background: black;
border: 3px solid azure;
width: 50%;
margin: 5vh auto;
padding: 50px;
}

@media screen and (max-device-width:700px)
{
  .background1{
    width: 90%;
    padding:25px;
  }
}

.signupt{
  font-family: 'icon2';
  font-size: 35px;
  color: azure;
  margin-bottom:15px;
  margin-top: 5px;
}

#label{
  font-family: 'icon1';
  font-size: 16px;
  color: skyblue;
  margin-bottom:10px;
  margin-top: 5px;
}

#label p
{
font-family: 'icon2';
color: azure;
font-size: 15px;
letter-spacing: 3px;
}
.background1 div
{
  margin-bottom:10px;
  margin-top: 5px;
}
.background1 span{
  color: azure;
  padding: 0px 10px 0 10px;
  font-size:18px;
  font-family: 'icon2';
  }
#signerr
{
  margin: 10px auto;
  font-family: 'icon2';
  color: azure;
  font-size: 16px;

}
#TC
{
  margin: 10px auto;
  font-family: 'icon2';
  color: azure;
  font-size: 16px;

}

.background1 button
{
  padding: 10px;
font-family: 'icon1';
background-color:black;
border: 2px solid azure;
color: azure;
cursor: pointer;
font-size: 16px;
}

.background1 button:hover
{
background-color:black;
color:skyblue;
border: 3px solid skyblue;
}

/* sign up ends here */

/* hospitality begins here */

.hospiback{
  background-color:black;
}

.committee{
  padding: 2%;
  font-family: 'icon2';
  color: azure;
  border-bottom:7px solid skyblue;
  border-right: 10px solid silver;
  border-left: 10px solid silver;
  border-top: 4px solid skyblue;
}
.committee #intro
{
font-family: 'icon2';
font-size: 25px;
color: azure;
text-align: center;
}

.committee h2
{
  margin-bottom: 5px;
  margin-top: 10px;
font-family: 'icon1';
color:skyblue;
font-size:20px;
}
.committee h3
{
  margin-top: 10px;
font-family: 'icon1';
color:skyblue;
font-size:20px;
}
.committee p
{
margin-top: 5px; 
font-family: 'icon2';
font-size:17px;
color: azure;
}

.committee i
{
font-size: 17px;
font-family: 'icon2';
color: azure;
}
.committee strong
{
margin-top: 5px;
font-family: 'icon2';
font-size: 17px;
color: azure;
}

.committee li{
  font-family: 'icon2';
  color: azure;
  font-size: 17px;
  padding:10px;
}
.accomodation{
  text-align: center;
}


#accname
{
color: azure;
font-size: 16px;
font-family: 'icon1';
}


.accomodation button
{
margin-top: 10px;
width:25%;
height:15%;
font-family: 'icon1';
background-color:black;
border: 2px solid azure;
color: azure;
cursor: pointer;
font-size: 16px;
margin-bottom:30px;
}
@media screen and (max-device-width:700px)
{
  .accomodation button{
    width:auto;
  }
}

.accomodation button:hover
{
background-color:black;
color:skyblue;
border: 3px solid skyblue;
}

.ac{
  text-align: center;
}
#acreg{
  display: none;
}
.ac #nummber
{
  width:25%;
  height:15%;
  font-family: 'icon1';
  background-color:black;
  border: 2px solid azure;
  color:skyblue;
}
.ac #number1{
  margin-left:10px;
  border: 2px solid azure;
  background:black;
  color:azure; 
  font-size: 17px;
  font-family: 'icon2';
  text-decoration: bold;
  padding-left:3px;
}
.ac #accname{
font-family: 'icon1';
color: skyblue;
}

.ac .acctext
{

font-family: 'icon1';
color: skyblue;
font-size: 15px; 
}

.ac .accuniqueID{
  margin-left:10px;
  border: 2px solid azure;
  background:black;
  color:azure; 
  font-size: 17px;
  font-family: 'icon2';
  text-decoration: bold;
  padding-left:3px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 2px;
}

.ac .accname{
  margin-left:10px;
  border: 2px solid azure;
  background:black;
  color:azure; 
  font-size: 17px;
  font-family: 'icon2';
  text-decoration: bold;
  padding-left:3px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 2px;

}



.ac #apply
{
margin-top: 10px;
width:10%;
height:15%;
font-family: 'icon1';
background-color:black;
border: 2px solid azure;
color: azure;
cursor: pointer;
font-size: 16px;
margin-bottom:30px;
}
@media screen and (max-device-width:700px)
{
  .ac #apply{
    width: 45%;

  }
}

.ac #apply:hover
{
background-color:black;
color:skyblue;
border: 3px solid skyblue;
}


/* hospitality ends here */

/* Dropdown Menu  */




