body {margin:0px;padding:0px;background-color: black;}

@font-face{
	font-family: 'content';
	src: url('adequate.ttf');
}


@media screen and (max-device-width:720px)
    {
     #drone{
       font-size:13px;
       }
    #item1{
     width:0px;
     font-size:13px;
    }
       #harleyCover {
        font-size:13px;
    }
       #buttonToEnter {
           top:5%;
         }
       #hackerCover {top:-24%;}
    }
         
    

/* #container{}
#menubar{}
#overlap{}
#details{} */
#item1{position: absolute;
    top: 61px;
    left: 0px;
    width: 50%;
    /* height: 100%; */
    height: 44%;
    background-image: url(images/harley-black.png);
    background-position-x: 48%;
    background-position-y: 5%;
    background-size: 38%;
    background-repeat: no-repeat;
    background-color: #a0361e;
}



    #item2 {
        position: absolute;
        top: 61px;
        right: 0px;
        width: 50%;
        /* height: 100%; */
        height: 44%;
        background-color: rgb(0, 128, 87);
        background-image: url(images/drone-black.png);
        background-size: 34%;
        background-repeat: no-repeat;
        background-position-x: 47%;
        background-position-y: 45%;
    }

    
    #item3 {
        position: absolute;
        display: block;
        top: 52%;
        /* right: 24%; */
        width: 50%;
        /* height: 100%; */
        height: 48%;
        background-color: rgb(255, 255, 255);
        background-image: url(images/hacker.png);
        background-size: 34%;
        background-repeat: no-repeat;
        background-position-x: 47%;
        background-position-y: 20%;
    }
    #item4 {
        position: absolute;
        display: block;
        top: 52%;
        right: 0%;
        width: 50%;
        /* height: 100%; */
        height: 48%;
        background-color: rgb(33, 41, 95);
        background-image: url(images/logo.png);
        background-size: 34%;
        background-repeat: no-repeat;
        background-position-x: 47%;
        background-position-y: 20%;
    }

    
#harley{
    position: absolute;
    top: 61px;
    left: 0px;
    width: 0px;
    opacity: 0;
    /* height: 100%; */
    height: 92%;
    background-image: url(images/harley-full.jpg);
    background-position-x: -52px;
    background-position-y: 41px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: black;
    z-index: 1000;
    background-position-x: 131%;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    transition: width 2s, opacity 2s;
}

#drone{
    position: absolute;
    top: 61px;
    left: 0px;
    width: 0px;
    opacity:0;
    /* height: 100%; */
    height: 92%;
    background-image: url(images/drone-full.jpeg);
    background-position-x: -52px;
    background-position-y: 41px;
    background-size: 64%;
    background-repeat: no-repeat;
    background-color: #131313;
    z-index: 1000;
    background-position-x: 0%;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    transition: width 2s, opacity 2s;
}
#hacker{
    position: absolute;
    top: 61px;
    left: 0px;
    width: 0px;
    opacity: 0;
    /* height: 100%; */
    height: 92%;
    background-image: url(images/anonym.jpg);
    background-position-x: -52px;
    background-position-y: 75px;
    background-size: 81%;
    background-repeat: no-repeat;
    background-color: #131313;
    z-index: 1000;
    background-position-x: 100%;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    transition: width 2s, opacity 2s;
}

.intro{position: relative;
    top: 65%;
    color: white;
    font-family: monospace;
    width: 243px;
    left: 35%;
}

p {
    color: white;font-family:content;
}

#harleyCover{

    position: relative;
    display: block;
    font-family: content;
    width: 100%;
    height: 100%;
    top: 83%;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    transition: top 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color:white;
}

#item1:hover #harleyCover {top:0%;}

#droneCover{

    position: absolute;
    display: block;
    font-family: content;
    width: 100%;
    height: 100%;
    top: 88%;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    transition: top 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color:white;
}

#item2:hover #droneCover {top:0%;}


#hackerCover{

    position: relative;
    display: block;
    font-family: content;
    width: 100%;
    height: 0%;
    top: -17.5%;
    background-color: black;
    opacity: 1;
    margin: 0px;
    transition: height 1.5s, opacity 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color: white;
    z-index: 1000;
    opacity: 0;
}

#item3:hover #hackerCover {height:90%;opacity:1;}

#conCover{

    position: relative;
    display: block;
    font-family: content;
    width: 100%;
    height: 0%;
    top: 0%;
    background-color: black;
    opacity: 1;
    margin: 0px;
    transition: height 1.5s, opacity 1.5s;
    font-size: 90%;
    padding: 0px;
    font-weight: lighter;
    color: white;
    z-index: 1000;
    opacity: 0;
}

#item4:hover #conCover {height:90%;opacity:1;}

#buttonToEnter {position: absolute;
    top:25%;
    left: 44%;
    display: block;
    width: 100px;
    height: 100px;
    background-color: cyan;
    border-radius: 50%;
    background-image: url(ok.png);}


    .menu{
        display: inline-block;
    width: 14%;
    height: 79px;
    left: 20%;
    /* top: -5%; */
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: deepskyblue;
    top: 0%;
    }
    #menubar{

        display: block;
    /* position: absolute; */
    right: 0;
    position: relative;
    top: 9%;
    }
    .display{float: left;
        width: 56.8%;
        height: 53%;
        background-color: #640700;
        opacity: 1;
        display: block;
        transition: width 0.6s, opacity 0.5s;
        position: absolute;
        left: 20%;
        top: 21%;
    }

    #close{position: absolute;
        z-index: 100;
        width: 30px;
        height: 30px;
        top: 10%;
        /* left: 0px; */
        right: 0px;
        background-color: bisque;}